<!DOCTYPE html>
<html lang="es-mx">

  {% include head.html %}

  <body>
  <div class="container">
    	{% include sidebar.html %}
		
		<section class="row">
	    	<div class="col-md-10 col-md-offset-1">
				<div class="col-md-12">
					<h3 class="project">
				      <a href="/" title="Home">{{ site.title }}</a>
				      <small>{{ site.tagline }}</small>
				    </h3>
				</div>
				
				{{ content }}
	    	</div>
    	</section>
    	
    	{% include analytics.html %}

	</div>
	{% include footer.html %}
    
  </body>
</html>
